* {
  box-sizing: border-box;

}
body {
  background-color: #12c0e3; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.output {
  background-color: #1ed041;
}


#percentageForm {
  width: 300px;
  padding: 20px;
  border: 4px solid red;
  margin-right: 40px;
  text-align: center;
}




.output {
  width: 300px;
  padding: 40px 20px;
  border: 4px solid rgb(1, 18, 1);
  text-align: center;
}





